body{
background-color:lightgreen;
}

h1{
color:blue;
font-size:60px;
}

img{
width:300px;
height:200px;
}

p{
color:black;
font-size:30px;
}

p1{
color:black;
font-size:30px;
}

button{
background-color: blue;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}
button, .mi-boton {
  background-color: #007BFF; 
  color: white;              
  padding: 10px 20px;      
  border: none;             
  border-radius: 5px;      
  cursor: pointer;          
  font-size: 16px;
}

button:hover, .mi-boton:hover {
  background-color: #0056b3; 
}
