body{
background-color:lightgreen;
}

h1{
color:blue;
font-size:60px;
}

img{
width:300px;
height:200px;
}

p{
color:black;
font-size:30px;
}

p1{
color:black;
font-size:30px;
}

button{
background-color: blue;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}
button, .mi-boton {
  background-color: #007BFF; /* Color de fondo azul */
  color: white;              /* Color del texto */
  padding: 10px 20px;        /* Espacio interno */
  border: none;              /* Quita el borde por defecto */
  border-radius: 5px;        /* Bordes redondeados */
  cursor: pointer;           /* Cambia el cursor a una mano al pasar por encima */
  font-size: 16px;
}

/* Efecto al pasar el mouse por encima */
button:hover, .mi-boton:hover {
  background-color: #0056b3; 
}
